<ion-view view-title="Add New Entry">

    <ion-nav-buttons side="left">
        <a class="button button-clear ion-chevron-left" ng-click="$ionicGoBack($event)"></a>
    </ion-nav-buttons>
    <ion-content>

        <form name="addItemForm" ng-submit="addItemFormSubmit(addItemForm)" novalidate>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Title</span>
                    <input type="text" placeholder="Title" ng-model="addItem.title" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username" ng-model="addItem.username" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Password" ng-model="addItem.password" required>
                </label>
            </div>
            <button type="submit" class="button button-block button-outline button-no-side">Add Entry</button>
        </form>

    </ion-content>
</ion-view>