<ion-view view-title="Add New Entry">

    <ion-nav-buttons side="left">
        <a class="button button-clear ion-chevron-left" ng-click="$ionicGoBack($event)"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col">
                <form name="addItemForm" ng-submit="addItemFormSubmit(addItemForm)" novalidate>
                    <ion-item class="item-input">
                        <input type="text" placeholder="Enter Title" ng-model="addItemForm.title" ng-minlength="0"
                               ng-maxlength="4" required/>
                    </ion-item>
                    <ion-item class="item-input">
                        <input type="text" placeholder="Enter Username" ng-model="addItemForm.username" ng-maxlength="4"
                               required/>
                    </ion-item>
                    <ion-item class="item-input">
                        <input type="text" placeholder="Enter Password" ng-model="addItemForm.password" ng-maxlength="4"
                               required/>
                    </ion-item>
                    <button type="submit" class="button button-block button-outline">Add Entry</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>