<ion-view view-title="PassMan">
    <ion-nav-buttons side="right">
        <a class="button button-dark button-outline icon ion-plus" ui-sref="add_item"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col padding">
                <ion-list class="list-inset">
                    <ion-item class="item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Search..." />
                    </ion-item>
                </ion-list>
            </div>
        </div>

        <div class="row row-no-padding">
            <div class="col">
                <ion-list show-delete="false" can-swipe="true">
                    <div ng-repeat="item in itemList">
                        <ion-item ng-click="toggleItemShown(item)" ng-class="{ active : isItemShown(item)}">
                            {{ item.title | decrypt }}
                            <ion-option-button class="button-calm button-outline">Update</ion-option-button>
                            <ion-option-button class="button-assertive button-outline">Delete</ion-option-button>
                        </ion-item>
                        <ion-item ng-show="isItemShown(item)" class="accordion-content">
                            {{ item.username | decrypt }}
                            {{ item.password | decrypt }}
                        </ion-item>
                    </div>
                </ion-list>
            </div>
        </div>


    </ion-content>
</ion-view>
