<ion-view view-title="PassMan">
    <ion-nav-buttons side="right">
        <a class="button button-dark button-outline icon ion-plus" ui-sref="add_item({ action : 'add'})"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="main_list_wrapper">
            <div class="row">
                <div class="col padding">
                    <ion-list class="list-inset">
                        <ion-item class="item-input search_item">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="search" placeholder="Search..." ng-model="searchTerm.title" />
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="row row-no-padding">
                <div class="col">
                    <ion-list show-delete="false" can-swipe="true" class="main_list">
                        <div ng-repeat="item in itemList | customSearchFilter:searchTerm.title">
                            <ion-item ng-click="toggleItemShown(item)" ng-class="{ active : isItemShown(item)}">
                                {{ item.title | decrypt }}
                                <i class="icon ion-ios-arrow-left swipe_icon"></i>
                                <ion-option-button class="button-dark button-outline icon ion-edit" ui-sref="add_item({ action : 'edit', eid : {{ item.eid }} })"></ion-option-button>
                                <ion-option-button class="button-dark button-outline icon ion-trash-a" ng-click="deleteEntry({{ item.eid }})"></ion-option-button>
                            </ion-item>
                            <ion-item ng-show="isItemShown(item)" class="accordion-content user_entry">
                                <div class="user_entry_username">
                                    <i class="icon ion-person"></i>
                                    <span>{{ item.username | decrypt }}</span>
                                </div>
                                <div class="user_entry_password">
                                    <i class="icon ion-key"></i>
                                    <span>{{ item.password | decrypt }}</span>
                                </div>
                            </ion-item>
                        </div>
                    </ion-list>
                    <div ng-show="itemList.length == 0" class="no_entry_message">
                        No entries have been made
                    </div>
                    <div class="bottom_filler"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
