<ion-view align-title="center" view-title="PassMan">
    <ion-content>
        <div class="row" ng-show="!isPINSet">
            <div class="col">
                <key-indicator value="pinElements.pin" ng-click="setActive('pin')" class="pin_indicator">
                    <div class="label">Enter Passcode</div>
                </key-indicator>
                <key-indicator value="pinElements.confirmPin" ng-click="setActive('confirmPin')" class="confirm_pin_indicator">
                    <div class="label">Re-Enter Passcode</div>
                </key-indicator>
            </div>
        </div>
        <div class="row" ng-show="isPINSet">
            <div class="col">
                <key-indicator value="pinElements.loginPin" ng-click="setActive('loginPin')" class="login_pin_indicator">
                    <div class="image_wrapper">
                        <img ng-src="img/icon_black.png" />
                    </div>
                </key-indicator>
            </div>
        </div>
    </ion-content>
    <keypad pin-elements="pinElements" active="active" set-master-pin="setMasterPin()" check-pin="checkPin()"></keypad>
</ion-view>
